<div class="container">
	<div class="well">
		<legend>
			<span>Application list</span> <a class="btn btn-primary" href="upload"><i class="icon-user icon-white"></i>Add App</a>
		</legend>
		</hr>
		{{>rowapp}}
	</div>
</div>
