<!DOCTYPE html>
<html>
	<head>
		<title>Publisher</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="../assets/bootstrap/css/bootstrap-fileupload.min.css" rel="stylesheet" media="screen">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
		<link href="../assets/css/main.css" rel="stylesheet">
	</head>
	<body>

		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">WSO2 Mobile Publisher</a> 
			</div>
		</div>
		<div class="container">
			<div class="well">
			<legend>
				<span>Application list</span> <a class="btn btn-primary" href="#"><i class="icon-plus-sign"></i> Add App</a>
			</legend>
			</hr>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<td><b>Name</b></td>
						<td><b>State</b></td>
						<td><b>Operations</b></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Bookhub</td>
						<td>Published</td>
						<td>
							<div class="btn-group">
							  <a class="btn btn-success" href="#"><i class="icon-ok-sign"></i> Accept</a>
							  <a class="btn btn-danger" href="#"><i class="icon-remove-sign"></i> Reject</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>Bookhub</td>
						<td>Published</td>
						<td>
							<div class="btn-group">
							  <a class="btn btn-success" href="#"><i class="icon-ok-sign"></i> Accept</a>
							  <a class="btn btn-danger" href="#"><i class="icon-remove-sign"></i> Reject</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>Bookhub</td>
						<td>Published</td>
						<td>
							<div class="btn-group">
							  <a class="btn btn-success" href="#"><i class="icon-ok-sign"></i> Accept</a>
							  <a class="btn btn-danger" href="#"><i class="icon-remove-sign"></i> Reject</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>Bookhub</td>
						<td>Published</td>
						<td>
							<div class="btn-group">
							  <a class="btn btn-success" href="#"><i class="icon-ok-sign"></i> Accept</a>
							  <a class="btn btn-danger" href="#"><i class="icon-remove-sign"></i> Reject</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<script src="../assets/jquery/jquery-min.js"></script>		
		<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="../assets/bootstrap/js/bootstrap-fileupload.min.js"></script>
	</body>
</html>